
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Charity Life</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>

        <!-- Bootsrap -->
        <link rel="stylesheet" href="frontend/css/bootstrap.min.css">

        <!-- Font awesome -->
        <link rel="stylesheet" href="frontend/css/font-awesome.min.css">

        <!-- Owl carousel -->
        <link rel="stylesheet" href="frontend/css/owl.carousel.css">

        <!-- Template main Css -->
        <link rel="stylesheet" href="frontend/css/style.css">
        
        <!-- Modernizr -->
        <script src="frontend/js/modernizr-2.6.2.min.js"></script>
        <script src="frontend/js/simple.money.format.min.js"></script>
    </head>

    <body>
      
      <style>
        .sm-gutters {
          margin-right: -6px;
          margin-left: -6px;
        } 
        .justify-content-between {
          justify-content: space-between!important;
        }.row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -11px;
            margin-left: -11px;
        }
        .mt-3, .my-3 {
            margin-top: 1rem!important;
        }
        .text-gray-900 {
          color: #212121!important;

        }
        .campaign-money {
            margin-bottom: 5px;
            margin-left: 100px;
            position: relative;
            top: -4px;
        }.widget-donation .sub {
            font-size: 15px;
            display: inline-block;
        }
      </style>

    <header class="main-header">
        <%- include("Util/header.ejs") %> 
    </header> <!-- /. main-header -->




    <!-- Carousel
    ================================================== -->
    <div id="homeCarousel" class="carousel slide carousel-home" data-ride="carousel">

      <%- include("Util/slide.ejs") %> 

    </div><!-- /.carousel -->

    <div class="section-home about-us fadeIn animated">

        <div class="container">

            <div class="row">

                <div class="col-md-3 col-sm-6">
                
                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="frontend/images/icons/our-mission-icon.png" alt="">
                        </div>
                        <h3 class="col-title">our mission</h3>
                        <div class="col-details">

                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>
                          
                        </div>
                        <a href="#" class="btn btn-primary"> Read more </a>
                    
                  </div>
                  
                </div>


                <div class="col-md-3 col-sm-6">
                
                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="frontend/images/icons/make-donation-icon.png" alt="">
                        </div>
                        <h3 class="col-title">Make donations</h3>
                        <div class="col-details">

                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>
                          
                        </div>
                        <a href="#" class="btn btn-primary"> Read more </a>
                    
                  </div>
                  
                </div>


                <div class="col-md-3 col-sm-6">
                
                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="frontend/images/icons/help-icon.png" alt="">
                        </div>
                        <h3 class="col-title">Help & support</h3>
                        <div class="col-details">

                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>
                          
                        </div>
                        <a href="#" class="btn btn-primary"> Read more </a>
                    
                  </div>
                  
                </div>


                <div class="col-md-3 col-sm-6">
                
                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="frontend/images/icons/programs-icon.png" alt="">
                        </div>
                        <h3 class="col-title">our programs</h3>
                        <div class="col-details">

                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>
                          
                        </div>
                        <a href="#" class="btn btn-primary"> Read more </a>
                    
                  </div>
                  
                </div>
                

                
            </div>

        </div>
      
    </div> <!-- /.about-us -->
     <!-- /.home-reasons -->

    <div class="section-home our-causes animate-onscroll fadeIn">

        <div class="container">

            <h2 class="title-style-1"> Các chương trình quên góp<span class="title-under"></span></h2>

            <div class="row">
                <% for(let i= 0; i <post.length ; i++){ %> 
                <div class="col-sm-4"  >

                    <div class="cause">

                        <img style="width: 356px; height: 292px;" src="images/supported_object/<%= post[i].Image%>" alt="" class="cause-img">

                        <div class="progress cause-progress">
                           <% let pt= (post[i].sumAmount/post[i].Total_Amount)*100; const p = Number(pt) %>
                          <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"  style="color:black ;width:<%= p%>%;">
                            
                            <%= p.toFixed(2) %>% 
                          </div> 
                        </div> 
                        <div class="campaign-money">
                            <strong class="value text-gray-900 fs-24">
                              <% if(post[i].sumMoney) { %>
                                <%= post[i].sumMoney %>
                              <%} else{ %>
                                  <%= 0 %>
                              <% }%> 
                            </strong>  /  <%= post[i].Total_money %> .VNĐ
                              
                        </div>

                        <h4 class="cause-title"><a href="#"><%= post[i].Title%> </a></h4>
                        <!-- <div class="cause-details">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus lacinia urna.
                        </div> -->

                        <div class="btn-holder text-center">

                          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>
                          
                        </div>
                        <div class="row sm-gutters justify-content-between widget-donation-meta mt-3">
                          <div class="col-auto">
                              <div class="">
                                  Lượt quyên góp
                              </div>
                              <div class="text-gray-900 font-weight-bold">
                                  42.263
                              </div>
                          </div>

                          <div class="col-auto">
                              <div class="text-center">
                                  Đạt được
                              </div>
                              <div class="text-gray-900 font-weight-bold text-center">
                                  42.91%
                              </div>
                          </div>

                          <div class="col-auto">
                              <div class="text-right">
                                  Thời hạn còn
                              </div>
                              <div class="text-gray-900 font-weight-bold">
                                  <%= post[i].songay %>
                                  ngày
                              </div>
                          </div>
                        </div>

                        

                    </div> <!-- /.cause -->
                    
                </div> 
                <% } %>  
            </div>

        </div>
        
    </div> <!-- /.our-causes -->

    




    <div class="section-home our-sponsors animate-onscroll fadeIn">
    
        <div class="container">

            <h2 class="title-style-1">Nhà Tài Trợ <span class="title-under"></span></h2>

            <ul class="owl-carousel list-unstyled list-sponsors">

              <li> <img src="frontend/images/sponsors/bus.png" alt=""></li>
              <li> <img src="frontend/images/sponsors/wikimedia.png" alt=""></li>
              <li> <img src="frontend/images/sponsors/one-world.png" alt=""></li>
              <li> <img src="frontend/images/sponsors/wikiversity.png" alt=""></li>
              <li> <img src="frontend/images/sponsors/united-nations.png" alt=""></li>

              <li> <img src="frontend/images/sponsors/bus.png" alt=""></li>
              <li> <img src="frontend/images/sponsors/wikimedia.png" alt=""></li>
              <li> <img src="frontend/images/sponsors/one-world.png" alt=""></li>
              <li> <img src="frontend/images/sponsors/wikiversity.png" alt=""></li>
              <li> <img src="frontend/images/sponsors/united-nations.png" alt=""></li>

            </ul>

        </div>

    </div> <!-- /.our-sponsors -->


    


    <footer class="main-footer">
      <%- include("Util/footer.ejs") %> 
        
    </footer> <!-- main-footer -->




    <!-- Donate Modal -->
    <div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel" aria-hidden="true">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="donateModalLabel">DONATE NOW</h4>
          </div>
          <div class="modal-body">

                <form class="form-donation">

                        <h3 class="title-style-1 text-center">Thank you for your donation <span class="title-under"></span>  </h3>

                        <div class="row">

                            <div class="form-group col-md-12 ">
                                <input type="text" class="form-control" id="amount" placeholder="AMOUNT(€)">
                            </div>

                        </div>


                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="firstName" placeholder="First name*">
                            </div>

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="lastName" placeholder="Last name*">
                            </div>
                        </div>


                        <div class="row">

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="email" placeholder="Email*">
                            </div>

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="phone" placeholder="Phone">
                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" name="address" placeholder="Address">
                            </div>

                        </div>


                        <div class="row">

                            <div class="form-group col-md-12">
                                <textarea cols="30" rows="4" class="form-control" name="note" placeholder="Additional note"></textarea>
                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" name="donateNow" >DONATE NOW</button>
                            </div>

                        </div>



                       
                    
                </form>
            
          </div>
        </div>
      </div>

    </div> <!-- /.modal -->





    <!--  Scripts
    ================================================== -->

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>

    <!-- Bootsrap javascript file -->
    <script src="frontend/js/bootstrap.min.js"></script>
    
    <!-- owl carouseljavascript file -->
    <script src="frontend/js/owl.carousel.min.js"></script>

    <!-- Template main javascript -->
    <script src="frontend/js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    </body>
</html>
